__pycache__/
**/__pycache__/
**/data/**/raw/**
01_PyTorch기초/01_codes.zip
02_MNIST_MLP/assignment/data/MNIST/raw/t10k-images-idx3-ubyte
02_MNIST_MLP/assignment/data/MNIST/raw/t10k-images-idx3-ubyte.gz
02_MNIST_MLP/assignment/data/MNIST/raw/t10k-labels-idx1-ubyte
02_MNIST_MLP/assignment/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
02_MNIST_MLP/assignment/data/MNIST/raw/train-images-idx3-ubyte
02_MNIST_MLP/assignment/data/MNIST/raw/train-images-idx3-ubyte.gz
02_MNIST_MLP/assignment/data/MNIST/raw/train-labels-idx1-ubyte
02_MNIST_MLP/assignment/data/MNIST/raw/train-labels-idx1-ubyte.gz
02_MNIST_MLP/codes/data/MNIST/raw/t10k-images-idx3-ubyte
02_MNIST_MLP/codes/data/MNIST/raw/t10k-images-idx3-ubyte.gz
02_MNIST_MLP/codes/data/MNIST/raw/t10k-labels-idx1-ubyte
02_MNIST_MLP/codes/data/MNIST/raw/t10k-labels-idx1-ubyte.gz
02_MNIST_MLP/codes/data/MNIST/raw/train-images-idx3-ubyte
02_MNIST_MLP/codes/data/MNIST/raw/train-images-idx3-ubyte.gz
02_MNIST_MLP/codes/data/MNIST/raw/train-labels-idx1-ubyte
02_MNIST_MLP/codes/data/MNIST/raw/train-labels-idx1-ubyte.gz
